body {
background-image:url("clouds.jpg");
}

.supercontainer {
  /*background-color: #0f28e6;*/
  /*opacity: 0.5;*/
  /*background-color: rgba(0, 0, 0, 0.6);*/
  background-color: rgba(138,54,151,.48);
  border: 5px solid red;
}
